.contacts
  a.contact(href="tel:+79815085780")
    i.fas.fa-mobile-alt.contact__icon(aria-hidden="true")
    span.contact__text +7(981)508-57-80

  a.contact(href="mailto:service-clean@bk.ru?subject=Вопрос с сайта&body=Здравствуйте, клининговая комапания 'Лотос'.")
    i.fas.fa-envelope.contact__icon.contact__icon--email(aria-hidden="true")
    span.contact__text service-clean@bk.ru

  a.vk-icon(href="https://vk.com/club168294310" target="_bank")
    i.fab.fa-vk(aria-hidden="true")