header.header
  .container
    .header__top
      .logo: img.logo__picture(src="images/logo2.jpg" alt="picture")
      include nav
      a.button.header__button.button--blue(href="#") Бесплатная консультация


  .header__bottom
    .container
      include contact
