nav.nav
  -var items = ['Главная','Почему мы','О нас','Услуги','Контакты']
  each item in items
    if item === 'Главная'
      a.nav__link.nav__link--active(href="#")= item
    else
      a.nav__link(href="#")=item